
<!DOCTYPE html>
<html ng-app lang="fr">

  <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="./controllers.js"></script>
      <!-- Bootstrap -->
    <link href="./css/bootstrap.min.css" rel="stylesheet" >
    <link href="./css/bootstrap-responsive.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
  </head>

  <body >
 <div class="container-fluid" ng-controller="parkingControler">

   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">{{nom_application}}</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
  </div>

     
       

	<div class="row">
     <div class="span2">
      <!--Sidebar content-->
      
     </div>
     
	 <div class="span10">
	 <!-- page central -->
		
		<!-- barre de recherche -->
		<div class="row-fluid">
			<div class="span12">
				<div class="input-group">
                  <span class="input-group-addon">Recherche : </span>
                  <input ng-model="query" type="text" class="input-medium form-control " placeholder="">
       			</div>
       		</div>	
       	</div> 
       	 
       	<!-- tableau de placedisponible-->
       	<div class="row-fluid">
         	<div class="span12">
              <table class="table-striped">
              <thead>
                  <th class="text-center">Nom parking</th>
                  <th class="text-center">Nombre de place restantes</th>
                  <th class="text-center">Statut</th>
               </thead>
               <tbody>
                  <tr class="text-center" ng-repeat="parking in parkings | filter:query" >
                      <td>{{parking.Grp_nom}}</td>
                      <td> {{parking.Grp_exploitation}}</td>
                      <td> {{status[parking.Grp_statut]}}</td>
                  </tr>
                </tbody>  
              </table>
           	</div>
        </div>
	 </div>
 	</div>
 	

    <footer>
    <hr>
    <p>© Mikaël 2013</p>
    </footer>

    <!-- fin container -->
    </div>

     <!-- JavaScript plugins (requires jQuery) -->
  <script src="http://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="./js/bootstrap.min.js"></script>
  </body>
</html>
